.employee-dashboard {
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.employee-dashboard h2 {
    text-align: center;
    margin-bottom: 20px;
}

.employee-dashboard #employeeAccountList {
    margin-bottom: 20px;
}

.employee-dashboard #employeeAccountList div {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.employee-dashboard #employeeAccountList div:last-child {
    border-bottom: none;
}